<div class="card">
  <div class="card-header p-3">
    <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Task List</h5>
  </div>
  <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">

    <table class="table mb-0">
      <thead>
      <tr>
        <th scope="col">Issue name</th>
        <th scope="col">Description</th>
        <th scope="col">Tier</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr class="fw-normal">
        <th class="border-0">
          <%= link_to bin_to_dec_index_path do %>
            <span class="ms-2">Bin2Dec</span>
          <% end %>
        </th>
        <td class="border-0 align-middle">Create weekly tasks plan</td>
        <td class="border-0 align-middle">
          <h6 class="mb-0"><span class="badge bg-warning">Medium priority</span></h6>
        </td>
        <td class="border-0 align-middle">
          <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
            class="fas fa-check text-success me-3"></i></a>
          <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
            class="fas fa-trash-alt text-warning"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-end p-3">
    <button class="btn btn-primary">Add Task</button>
  </div>
</div>
